body{margin:0;padding:0;}
 .wrapper_help{width:1024px; margin:0px auto;min-height:520px;height:auto}
 .head h3{font-size:24px;color:#333;font-family:Arial;margin:10px}

 .left_panel_list{border:1px solid #ccc;margin:10px;padding:10px 15px;width:231px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:15px;}
 .left_panel_list ul {padding:0;margin:0}
 .left_panel_list ul li{list-style:none;border-bottom:1px solid #ddd;padding:10px 10px 5px;}
 .left_panel_list ul li.last{border:none;}
 .left_panel_list ul li a{color:#666666;text-decoration:none;font-weight:bold;}
 .left_panel_list ul li a:hover{color:#4F92BF}
 .fl{float:left}
 .fr{float:right}
 .cb{clear:both}
 .search_help{margin:10px 10px 0;height:40px;}
 .search_help input{width:200px;padding:5px;border:1px solid #3F7FAA;border-radius:5px 0 0 5px;height: 30px;}
 .search_icon{background:url(../img/images/sch_icn_top.png) no-repeat 3px 5px #3F7FAA;
    border-left: 1px solid #6196B9;
    border-radius: 0 5px 5px 0;
    border: 1px solid #327197;
    height: 30px;
    position: relative;
	margin: -30px -9px;
    width: 28px;
	cursor:pointer;}

.right_panel_list{margin:10px 0 0 30px;width:71%;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:15px;}
.each_list_head{font-size:22px;color:#333;margin-bottom:10px;border-bottom:1px solid #ccc;padding-bottom:10px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.detail_help a{color:#3F7FAA;font-weight:bold;padding-left: 13px;text-decoration:underline;}
.detail_help ul li{font-size:14px;}
.open_list{background:url(../img/images/icon_op_cl.png) no-repeat 0 0 ; height:14px;width:14px;position:relative;top:3px;right:0;display:block}
.open_list.plus{background:url(../img/images/icon_op_cl.png) no-repeat -14px 0 ;}

#display_div {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.accordionButton {
	cursor: pointer;
	padding-top:5px;
	padding-bottom:5px;
}
.accordionContent {
	display: none;
}

.sub_div{
	text-align:left;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:4px 9px;
	color:#555;
	float:left;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 20px;
	width:155px;
	height:55px;
	border:1px solid #e8e8e8;
	background:url(../img/images/help_icon_bg.png) repeat-x;
}
.sub_txt{
	font-size:16px;
	width: 83px;
	line-height: 17px;
    margin-top: 6px;
}
.icon_outer{
	height:31px;
	width:31px;
	margin-right:15px;
	margin-top:6px;
}
.qsn{
	background:url(../img/images/qsn.png) no-repeat;
}
.feature{
	background:url(../img/images/features.png) no-repeat;
}
.new{
	background:url(../img/images/new.png) no-repeat;
}
.support{
	background:url(../img/images/support_help.png) no-repeat;
}
.feed{
	background:url(../img/images/feed.png) no-repeat;
}
.how{
	background:url(../img/images/how.png) no-repeat;
}
a{cursor:pointer}

@media (max-width:800px) {
	.right_panel_list{width:64%}
	.left_panel_list{width:205px;}
	.wrapper_help{width: 720px!important;}
  .sub_div{width: 105px;}
  .icon_outer{margin-right: 4px;}
  .sub_txt{font-size: 12px;width: 50px;margin-top: 4px;}
  footer {margin-top: 192px !important;padding-left: 0 !important;}
}
@media only screen and (min-width:800px) and (max-width:1100px){
	.wrapper_help{width:935px!important; margin-right: 40px;}
	.right_panel_list{width:69%}
  .sub_div{width: 140px;}
  .sub_txt{width: 72px;font-size: 15px;}
  footer {margin-top: 192px !important;padding-left: 0 !important;}
}
@media only screen and (min-width:1110px) and (max-width:1300px){
	.wrapper_help{width:92%;margin: 0 6% 0 auto;}
}
@media only screen and (min-width:1900px) and (max-width:1980px){
	.wrapper_help{margin: 0 24% 0 auto;}
}
@media only screen and (min-width:450px) and (max-width:490px){
.left_panel_list{width:143px;font-size:12px;padding:10px 5px;}
.tour_section .right_panel_list{width:62%;font-size:15px;margin-left:5px;}
.each_list_head{font-size:17px;}
.tour_section .wrapper_help {width:462px!important;}
.help_section .wrapper_help{width:450px!important;}
.help_section .right_panel_list{width:56%;}
}
@media only screen and (max-width:330px){
.tour_section .wrapper_help{width:300px!important;}
.tour_section .right_panel_list{width:88%;}
.sub_form_bg.tour_btn{width: 300px;}
.each_list_head{font-size:18px;}
.classli{margin-left:15px!important;}
.help_section .wrapper_help{width:285px!important;}
.help_section .right_panel_list{margin-left:10px;width:88%;}
}