body, td, pre {
	font-family:'PT Sans', Arial, sans-serif;color:#000000;
	font-size: 13px;
}

body {
	background-color: #FFFFFF;
	font-family:'PT Sans', Arial, sans-serif;color:#000000;
	font-size: 13px;
}

.mceVisualAid {
	border: 1px dashed #BBBBBB;
}

/* MSIE specific */

* html body {
	scrollbar-3dlight-color: #F0F0EE;
	scrollbar-arrow-color: #676662;
	scrollbar-base-color: #F0F0EE;
	scrollbar-darkshadow-color: #DDDDDD;
	scrollbar-face-color: #E0E0DD;
	scrollbar-highlight-color: #F0F0EE;
	scrollbar-shadow-color: #F0F0EE;
	scrollbar-track-color: #F5F5F5;	
}
